name: Publish Packages to nuget

on:
  release:
    types: [created]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: | 
          6.0.x
          7.0.x
          8.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.1
      with:
        path: RDMSharp/bin/Release/**/RDMSharp.dll
    - name: Publish RDMSharp
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
          PROJECT_FILE_PATH: RDMSharp/RDMSharp.csproj
          NUGET_KEY: ${{secrets.NUGET_KEY}}
          PACKAGE_NAME: RDMSharp
